.square{
    height:50px;
    width:50px;
    display:inline-block;
    border: solid black 2px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid black 2px;
    display:inline-block;
  }