.square{
    height:15px;
    width:15px;
    display:inline-block;
    border: solid black 1px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid black 1px;
    display:inline-block;
  }